
.card:hover {
    box-shadow: 2px 5px 12px #000;
    transition: 1s;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.price {
    background-color: brown;
    color: white;
    width: 100px;
    border-radius: 3px;
    padding: 7px;
    font-weight: bold;
}

img {
    width: 310px;
    height: 280px;
    margin: 30px auto 0px auto;
    padding: 20px;
}