<h3 class="display-4 mb-5 text-center">{{ selectedItem.title }}</h3>
<div class="card mb-3">
  <img [src]="selectedItem.image" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ selectedItem.title }}</h5>
    <p class="card-text">{{ selectedItem.description }}</p>
    <p class="card-text">
      {{ selectedItem.price | currency : "EGP" : "symbol" }}
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago</small>
    </p>
    <p
      class="card-text"
      [ngClass]="{
        'text-success': selectedItem.stock > 0,
        'text-danger': selectedItem.stock == 0
      }"
    >
      {{ selectedItem.stock | stock }}
    </p>
    <button class="btn btn-danger">Add To Card</button>
  </div>
</div>
