<h3 class="display-4 mb-5 text-center">{{singleItem.title}}</h3>
<div class="card mb-3">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="singleItem.images[0]" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="singleItem.images[2]" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="singleItem.images[3]" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ singleItem.title }}</h5>
    <p class="card-text">{{ singleItem.description }}</p>
    <p class="card-text price">
      {{ singleItem.price | currency : "E£ " }}
    </p>
    <p class="card-text">
      <small class="text-muted">Rating: {{singleItem.rating}} &#9733; &#9733; &#9734; &#9734;</small>
    </p>
    <p
      class="card-text"
      [ngClass]="{
        'text-success': singleItem.stock > 0,
        'text-danger': singleItem.stock == 0
      }"
    >
      {{ singleItem.stock | stock }}
    </p>
  </div>
</div>
